
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap.scss";

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

body {
  font-family: Helvetica;
  font-size: 20px;
}

a {
  text-decoration: underline;
}

.profile {
  background-color: #e5e5e5;
  color: #353535;
  text-align: center;
}

.profile-wrap {
  margin-top: 20px;
  margin-bottom: 10px;
}

img.profile-img {
  border-radius: 50%;
}

.content {
  padding: 20px;
  text-align: center;
}

// ------------------

.tiled-feed {
  display: inline;
}

.social-card-wrapper {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
}

.github-card.social-card-wrapper {
  background-color: #f7f7f7;
  color: #333;
  width: 300px;
}

.lastfm-card.social-card-wrapper {
  background-color: #e31b23;
  color: #eeeeee;
  width: 160px;
}

.twitter-card.social-card-wrapper {
  background-color: #00aced;
  color: #eeeeee;
  width: 300px;
}

.social-card {
  position: relative;
  display: table;
  width: 100%;
}

.github-card .social-card {
  height: 150px;
}

.twitter-card .social-card {
  height: 100px;
}

.lastfm-card .social-card {
  height: 100px;
}

.date-time {
  position: absolute;
  top: 0px;
  right: 5px;
  font-size: 12px;
}

.github-card .messages {
  display: table-cell;
  vertical-align: middle;
  font-size: 13px;
}

.twitter-card .message {
  display: table-cell;
  vertical-align: middle;
  font-size: 13px;
}

.lastfm-card .message {
  display: table-cell;
  vertical-align: middle;
  font-size: 13px;
}
