extend base

block head
  title
    | Ian Benedict

block content
  .row
    .col-md-12
      .tiled-header
        | What am I up to?
  .row
    .col-md-12
      .tiled-filters
  .row
    .col-md-12
      .tiled-feed
